@charset "UTF-8";
/*--Variables--*/
/*--Colores--*/
/*Font family*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
/*Tamaño de Tipografias*/
/*Tipo de Bordes*/
/*Variable Border*/
/*Trasciociones*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  color: #24221F;
  background: #F7F3E3;
}

.containerImages {
  height: 500px;
  width: 100%;
}
.containerImages .imageslist {
  height: 500px;
  display: flex;
  flex-direction: row;
  list-style: none;
  object-fit: cover;
}
.containerImages .imageslist img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.container .cardWrapper .cardlist {
  display: flex;
  gap: 24px;
  list-style: none;
  text-align: center;
}
.container .cardWrapper .cardlist .cardItem {
  color: #B3B6B7;
  font-family: "Poppins", serif;
  font-size: 1rem;
}
.container .cardWrapper .cardlist .cardItem .userName {
  padding: 8px 0;
  font-weight: 600;
}
.container .cardWrapper .cardlist .cardItem .userText {
  line-height: 150%;
  font-size: 0.875rem;
}
.container .cardWrapper .cardlist .cardItem .userImg {
  height: 332px;
  width: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  padding: 40px 80px;
}
.container .containerProducts .productslist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.container .containerProducts .productslist .productItem {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  gap: 8px;
  font-family: "Poppins", serif;
  color: #24221F;
}
.container .containerProducts .productslist .productItem .productImg {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.container .containerProducts .productslist .productItem .titleProduct {
  font-size: 1rem;
  font-weight: 500;
}
.container .containerProducts .productslist .productItem .description {
  font-size: 0.875rem;
  color: #B3B6B7;
}
.container .containerProducts .productslist .productItem .price {
  font-weight: 600;
  padding: 8px 0;
}

header .sectionheader {
  position: fixed;
  padding: 16px 80px;
  margin: 16px 80px;
  width: 90%;
  border-radius: 100px;
  background-color: rgba(36, 34, 31, 0.8);
  transition: background-color 0.3s, opacity 0.5s;
  display: flex;
  box-sizing: border-box;
}
header .sectionheader.bgc {
  background-color: rgba(36, 34, 31, 0.8);
  color: white;
}
header .sectionheader .container-navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
header .sectionheader .container-navbar .container-list {
  display: flex;
  align-items: center;
}
header .sectionheader .container-navbar .container-list .list-items {
  list-style: none;
}
header .sectionheader .container-navbar .container-list .list-items a {
  text-decoration: none;
  padding: 8px 16px;
  margin: 0 8px;
  border-radius: 50px;
  color: #F7F3E3;
  font-size: "Poppins", serif;
  font-family: "Poppins", serif;
  font-weight: 300;
  transition: background-color 0.3s ease, color 0.3s ease;
}
header .sectionheader .container-navbar .container-list .list-items a:hover {
  background-color: #F7F3E3;
  color: #24221F;
}
header .sectionheader .iconsContainer {
  display: flex;
  gap: 16px;
  width: 200px;
  justify-content: center;
  align-items: center;
}
header .sectionheader .iconsContainer .button {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7F3E3;
  cursor: pointer;
}
header .sectionheader .iconsContainer .button i {
  font-size: 1rem;
}

.footer-container {
  display: flex;
  padding: 40px 80px;
  gap: 24px;
  border-top: 2px solid #24221F;
  border-bottom: 2px solid #24221F;
}
.footer-container .footer-column {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-container .footer-column img {
  margin-right: 40px;
}
.footer-container .footer-column h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  font-style: italic;
}
.footer-container .footer-column ul li {
  padding: 8px 0px;
  list-style: none;
}
.footer-container .footer-column ul li a {
  color: #24221F;
  font-family: "Poppins", serif;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  list-style: none;
}

.footer-copyright {
  font-family: "Poppins", serif;
  font-size: 0.875rem;
  font-weight: 300;
  padding: 16px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 40px 80px;
  margin: 32px 80px;
  background-color: #24221F;
  color: #F7F3E3;
  border-radius: 24px;
}
.form .content-text {
  text-align: center;
}
.form .content-text h2 {
  font-size: 3.5rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
}
.form .content-text p {
  font-size: 1rem;
  font-family: "Poppins", serif;
}

.second-button {
  background-color: transparent;
  padding: 8px 24px;
  color: #F7F3E3;
  border: 1px solid #F7F3E3;
  border-radius: 100px;
  cursor: pointer;
  font-size: 1rem;
}

.input-text {
  background-color: transparent;
  min-width: 640px;
  padding: 16px 32px;
  border: 1px solid #F7F3E3;
  border-radius: 100px;
}

/*# sourceMappingURL=styles.css.map */
