/*--Variables--*/

/*--Colores--*/
$first--color: #24221F; 
$second--color: #F7F3E3; 
$third--color: #B3B6B7; 
$bg-color: rgba(36, 34, 31, 0.8); 


/*Font family*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

$first--font: "Poppins", serif;
$second--font: "Cormorant Garamond", serif;

/*Tamaño de Tipografias*/

$font-size-xxl: 6rem; 
$font-size-xl: 3.5rem; 
$font-size-l: 2rem; 
$font-size-m: 1.5rem; 
$font-size-s: 1rem; 
$font-size-xs: 0.875rem; 

/*Tipo de Bordes*/
/*Variable Border*/
$first--border: 1px solid #24221F;
$second--border: 1px solid #F7F3E3;


/*Trasciociones*/
$transition-speed: 0.3s;
$nav-transition-speed: 0.8s;