@use "../utilities/variables.scss" as *; 

.container{
    padding: 40px 80px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    .containerProducts{
        display: flex;
        margin-top: 100px;
        justify-content: center;
        .productslist{
            box-sizing: content-box;
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px; 
            width: 100%;
            .productItem{
                display: flex;
                width: 100%;
                flex-direction: column;
                align-content: center;
                text-align: center;
                gap:8px; 
                font-family: $first--font;
                color: $first--color;
                .productImg{
                    height: 300px;
                    width: 100%;
                    object-fit: cover;
                }
                .titleProduct{
                    font-size: $font-size-s;
                    font-weight: 500;
                }
                .description{
                    font-size: $font-size-xs;
                    color: $third--color;
                }
                .price{
                    font-weight: 600;
                    padding: 8px 0;
                }
            }
        }
       
        
    }
    .containerFilter{
        order: 1;
    }
}