.cartModal {
    display: none;
    box-sizing: content-box;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex ;
    justify-content:center;
    z-index: 100;

    &-content {
        position: fixed;
        top: 0;
        right: 0;
        background: white;
        padding: 20px;
        border-radius: 16px;
        text-align: center;
        max-width: 400px;
        width: 90%;
        height: 100%;
        position: relative;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transform: translateX(100%); 
        transition: transform 0.3s ease-in-out;
    }

    &.active &-content {
        transform: translateX(0); // Mueve hacia adentro al abrir
    }
}
