@use "../utilities/variables.scss" as *; 
.cartModal {
    display: none;
    box-sizing: content-box;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $bg-color;
    display: flex ;
    justify-content:flex-end;
    z-index: 1000;
    &-content {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $second--color;  
        padding: 32px;
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
        text-align: center;
        max-width: 500px;
        width: 90%;
        height: 100%;
        position: relative;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transform: translateX(100%); 
        transition: transform 0.3s ease-in-out;
       
        
        .content-card{
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            .titleModal{
                width: 100%;
                text-align: center;
                font-family: $second--font;
                font-size: $font-size-l; 
                margin: 16px 0;
            }
            
        }

    }

    &.active {
        .cartModal-content {
            transform: translateX(0);
        }
    }
    .totalPriceContainer{
        p{
            font-family: $first--font;
            color: $first--color;
            font-size: $font-size-m;
            margin: 16px 0 ;
            border-top: $first--border;
        }
        button{
            display: inline-block;
            padding: 16px 24px; 
            border-radius: 10rem;
            background-color: $first--color ; 
            color:$second--color;
            font-size: $font-size-s;
            transition: all .3s;
            z-index: 1;
            border: $first--border; 
        }
        
    }
    
}
#cartItems{
    width: 100%;
    .product {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px 0; 
        border-bottom: $first--border;
        font-family: $first--font;
        align-items: flex-start; 
        .price{
            color: $third--color; 
            margin: 0 16px;
        }
        .contentbuttons{
            display: flex;
            justify-content: space-between;
            width: 100%;
            button{
                width: 32px;
                height: 32px;
                margin: 0 8px;
                background-color: transparent;
                border: 2px solid #24221F;
                color: $first--color;
                border-radius: 100px;
                i{
                    font-size: $font-size-s;
                }
            }

        }
       
    }
}

